:root {
    --basic-purple-color: #f6edfa;
    --bold-purple-color: #ce9de0;
    --basic-pink-color: #eab3de;
    --background-header-color: #1a121a;
    --background-main-color: #000000;
    --link-color: #e8c6f4;
    --shadow-color: #bfacc5;
    --btn-color: #ffc4f2;
    --basic-white: #000;
    --filter: brightness(70%);
}

.switcher__radio {
    filter: invert(1);
}

.switcher__radio:checked {
    filter: invert(0);
}

.switcher__status {
    box-shadow: 0 0 0 2px rgba(239, 28, 232, 0.2);
    background-color: rgba(31, 22, 29, 0.5);
}

.logo-waves-2 {
    color: rgb(141, 20, 20);
    -webkit-text-stroke: 1px rgb(141, 20, 20);
}