@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
    color-scheme: light dark;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--basic-purple-color);
    font-size: 14px;
    cursor: url(../img/icons/cursor.png) 0 0, auto;
}

.portfolio {
    width: 100%;
    margin: auto;
}


.container {
    max-width: 1230px;
    padding: 0px 30px;
    margin: auto;
}

.title-1 {
    font-size: 34px;
    font-weight: 600;
    color: var(--basic-pink-color);
}

.header {
    padding-top: 46px;
    background-color: var(--background-header-color);
    position: relative;

}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
    z-index: 3;
    position: relative;
}

.switcher {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin: 0;
    margin-left: -50px;
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: none;
}

.switcher__legend {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.switcher__radio {
    appearance: none;
    margin: 0;
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    transition: filter 0.1s ease-in;
}

.switcher__radio:focus {
    outline: none;
}

.switcher__radio--light {
    background-image: url('../img/icons/sun.svg')
}

.switcher__radio--auto {
    background-image: url('../img/icons/paw.svg')
}

.switcher__radio--dark {
    background-image: url('../img/icons/moon.svg')
}

.switcher__status {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 18px;
    background-color: rgba(245, 210, 239, 0.5);
    background-image: url(../img/icons/circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: background-position 0.1s ease-in;
    background-size: 40px;
}

.switcher__radio--light:checked~.switcher__status {
    background-position: left -2px center;
}

.switcher__radio--auto:checked~.switcher__status {
    background-position: center center;
}

.switcher__radio--dark:checked~.switcher__status {
    background-position: right -2px center;
}


.logo {
    position: relative;
    padding: 0px 12px 3px 0px;
    font-weight: 700;
    font-size: 32px;
    color: var(--bold-purple-color);
    line-height: 1;
    width: max-content;
}


.logo::after {
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--basic-pink-color);
    border-radius: 50%;

}

.nav-list {
    display: flex;
    column-gap: 50px;
    font-weight: 500;
    font-size: 14px;

}

.nav-button {
    display: none;
}

.nav-link {
    color: var(--link-color);
    font-size: 22px;
}

.nav-link.active {
    color: var(--bold-purple-color);
    font-weight: bold;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--bold-purple-color);
}

.header-row {
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
    z-index: 1;
}

.header-heading {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 44px;
    color: var(--basic-pink-color);
}

.header-content {
    max-width: 500px;
    margin-top: 124px;
}

.header-content p {
    line-height: 2;

}

.header-img {
    margin-bottom: -107px;
    filter: var(--filter);

}

.services {
    padding: 90px 0px;
}

.services-row {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    row-gap: 60px;
}

.service-card {
    flex: 1 1 0;
    min-width: 290px;
}

.service-card-img {
    margin-bottom: 30px;
}

.service-card-title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
}

.service-card p {
    line-height: 2;
}

.portfolio {
    background-color: var(--background-main-color);
    padding: 90px 0px;
}

.portfolio-title {
    margin-bottom: 70px;
    text-align: center;
}

.project {
    text-align: center;
}

.project-img {
    margin-bottom: 40px;
    filter: var(--filter);
}

.project-img:hover,
.project-img:focus {
    box-shadow: 0px 0px 100px var(--shadow-color);
}

.project+.project {
    margin-top: 70px;
}

.project-buttons {
    display: flex;
    justify-content: space-evenly;

}

.project-title {
    font-size: 23px;
    font-weight: 700;
    padding-bottom: 10px;
    color: var(--bold-purple-color);
}

.project-button {
    background-color: var(--btn-color);
    max-width: 190px;
    min-width: 150px;
    border: 1px solid var(--btn-color);
    border-radius: 10px;
    text-align: center;
    padding: 15px 10px;
    color: var(--basic-white);
    font-size: 20px;
    font-weight: 700;
}

.project-button:focus,
.project-button:hover {
    background-color: var(--basic-pink-color);
}

.contacts {
    padding: 90px 0px;
    text-align: center;
    background-color: var(--background-header-color);
}

.contacts-title {
    margin-bottom: 40px;
}

.contacts-content {
    margin-bottom: 40px;
    font-size: 18px;
}

.contacts-content p+p {
    margin-top: 1em;
}

.contacts-button {
    margin-bottom: 80px;
}

.btn {
    display: inline-block;
    padding: 7px 22px;
    background-color: var(--btn-color);
    border-radius: 30px;
    color: var(--basic-white);
    font-size: 18px;

    transition: background-color 0.2s ease-in, top 0.2s ease-in;
}

.btn:hover,
.btn:focus {
    background-color: var(--basic-pink-color);
}

.btn:active {
    position: relative;
    top: 1px;
    background-color: var(--basic-pink-color);
}

.contacts-social {
    display: flex;
    column-gap: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.contacts-social svg,
.contacts-social svg {
    fill: var(--basic-purple-color);
}

.contacts-social svg:hover,
.contacts-social svg:focus {
    fill: var(--basic-pink-color);

}

@media (max-width:1230px) {
    .header {
        padding-top: 61px;
    }

    .switcher {
        bottom: 50px;
    }

    .nav-list {
        display: none;
    }

    .nav-button {
        position: fixed;
        z-index: 9;
        top: 58px;
        right: 30px;
        display: flex;
        flex-direction: column;
        width: 50px;
        cursor: pointer;
    }

    .nav-button span {
        background: var(--basic-pink-color);
        border-radius: 10px;
        height: 5px;
        margin: 3px 0;
        transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    .nav-button:hover span {
        background: var(--bold-purple-color);
    }

    span:nth-of-type(1) {
        width: 50%;
    }

    span:nth-of-type(2) {
        width: 100%;
    }


    span:nth-of-type(3) {
        width: 75%;
    }

    .nav.open span:nth-of-type(1) {
        transform-origin: bottom;
        transform: rotatez(45deg) translate(3px, 0px)
    }

    .nav.open span:nth-of-type(2) {

        transform-origin: top;
        transform: rotatez(-45deg)
    }

    .nav.open span:nth-of-type(3) {

        transform-origin: bottom;
        width: 50%;
        transform: translate(21px, -3px) rotatez(45deg);
    }

    .nav.open .nav-button {
        position: fixed;
    }

    .nav.open .nav-list {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        z-index: 1;
        padding: 46px 30px;
        font-size: 34px;
        font-weight: 600;
        background-color: var(--background-header-color);
    }

    .nav-link {
        color: var(--basic-purple-color);
        font-size: 45px;
    }

    .nav-link.active {
        color: var(--bold-purple-color);
    }


    .header-row {
        flex-direction: column;
        row-gap: 20px;
    }

    .header-content {
        margin-top: 0px;
    }

    .header-img {
        text-align: center;
        margin-bottom: -106px;

    }

}

@media (max-width:700px) {

    .header-heading {
        font-size: 34px;
        line-height: 1.3;
    }

    .header-heading span {
        font-size: 28px;
    }

    .header-img {
        margin-bottom: -100px;
    }


    .services {
        padding: 60px 0px;
    }

    .portfolio {
        padding: 60px 0px;
    }

    .portfolio-title {
        margin-bottom: 50px;
    }

    .project-img {
        margin-bottom: 30px;
    }

    .project+.project {
        margin-top: 55px;
    }


    .contacts-title {
        margin-bottom: 20px;
    }

    .contacts-content {
        margin-bottom: 20px;
    }

    .contacts-button {
        margin-bottom: 70px;
    }

    .contacts-social {
        margin-bottom: 20px;
        column-gap: 50px;
    }

}

@media(max-width:520px) {
    .header-img {
        margin-bottom: -77px;
    }

}

@media(max-width:420px) {
    .header-img {
        margin-bottom: -45px;
    }

    .project-button {
        font-size: 14px;
        min-width: 120px;
    }

    .project+.project {
        margin-top: 40px;
    }
}