@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url('fonts/opensanslight.woff2') format('woff2'), url('fonts/opensanslight.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('fonts/opensans.woff2') format('woff2'), url('fonts/opensans.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('fonts/opensansbold.woff2') format('woff2'), url('fonts/opensansbold.woff') format('woff');
}

@font-face {
    font-family: 'Fantazyor';
    font-style: normal;
    font-weight: 400;
    src: local('Fantazyor'), url('fonts/Fantazyor.woff') format('woff');
}

@font-face {
    font-family: 'Shadow';
    font-style: normal;
    font-weight: 400;
    src: local('Shadow'), url('fonts/Shadow-Regular.woff') format('woff');
}


img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    height: 100%;
    font-size: 18px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    line-height: 27px;
}

.page__body {
    min-height: 100%;
    margin: 0;
    background-color: #f8f5f2;
    color: #000000;
}

.page-header {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: #ffffff;
}

.page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.page-header__logo {
    height: 65px;
    margin-top: 10px;
    margin-left: 20px;
}

.main-nav__list {
    height: 100vh;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-list__item {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 35px 0 25px 0;
}

.site-list__item:hover {
    border-color: #3aafe5;
}

.page-header__toggle {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
    margin-top: 28px;
}

.page-header__toggle span {
    width: 40px;
    height: 3px;
    background: #fff;
    margin: 4px 40px;
    display: block;
    transition: .6s;
}

/* .page-header__toggle span {
    transform: rotate(45deg);
}

.page-header__toggle span:last-child {
    transform: rotate(-45deg);
    margin-top: -7px;
} */

.main-nav--closed {
    display: none;
}

.greetings {
    padding: 10px;
    background-color:#000000;
    background-image: url(img/abstract.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-bottom: 140px;
    padding-top: 50px;
}

.greetings__title {
    font-family: 'Shadow', 'Arial', sans-serif;
    color: #e452ce;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 30px;
    line-height: 0.8;
}

.greetings__text {
    font-family: 'Fantazyor', 'Arial', sans-serif;
    color: #e8fdff;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 30px;
    line-height: 0.5;
}

.gallery {
    background-color:#000000;
    padding:30px 30px 360px;

}

.gallery__title {
    font-family: 'Shadow', 'Arial', sans-serif;
    color: #e452ce;
    margin-left: 30px;
    margin-top: -40px;
}

.contacts {
    background-color:#000000;
    background-image: url(img/pink-planet.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 320px;
}

.contacts__title {
    font-family: 'Shadow', 'Arial', sans-serif;
    color: #e452ce;
    margin-left: 70px;
    margin-top: -40px;
}