.page {
    width: 100%;
}

.page-main {
    display: flex;
    width: 320px;
    margin: auto;
}

.page-main__titles {
    width: 320px;
    margin: auto;
    position: relative;
}

@media (min-width: 660px) {
   .page-main__titles::before {
    content: "";
    position: absolute;
    left: 1010px;
    top: 410px;
    background-image: url("images/Vector_1.svg");
    width: 80px;
    height: 80px; 
    }
}


.page-main__title {
display: none;
}

@media (min-width: 660px) {
.page-main__titles::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 24px;
    background-image: url("images/Flower_black.svg");
    width: 45px;
    height: 45px; 
    }

    .page-main__title {
        font-family: "Petit Formal Script";
        font-weight: normal;
        font-size: 45px;
        line-height: 200px;
        text-align: center;
        margin-bottom: 0;
        position: relative;
    }
}

.page-main__title::before {
    content: "";
    position: absolute;
    left: 334px;
    top: -7px;
    background-image: url("images/Vector.png");
    width: 540px;
    height: 430px; 
    z-index: 10;
}


@media (min-width: 660px) {
.page-main__title::after {
    content: "";
    position: absolute;
    left: 916px;
    top: 618px;
    background-image: url("images/Flower.svg");
    width: 45px;
    height: 45px; 
    }
}

.page-main__aboutme {
    font-family: "Cormorant Infant";
    font-style: normal;
    font-weight: bold;
    font-size: 47px;
    line-height: 73px;
    background-image: url("images/Picture_woods.jpg");
    background-repeat: no-repeat;
    padding: 72px 50px 333px 37px;
    margin-left: 50px;
    position: relative;
}

.page-main__aboutme::after {
    content: "";
    position: absolute;
    left: -36px;
    top: 206px;
    background-image: url("images/Vector.svg");
    width: 80px;
    height: 80px; 
}

.page-main__aboutme::before {
    content: "";
    position: absolute;
    left: 504px;
    top: 168px;
    background-image: url("images/Nice_to_see_you.svg");
    width: 302px;
    height: 137px; 
}

.page-footer {
    display: flex;
    justify-content: center;
    width: 320px;
    margin: auto;
}

.page-footer__contacts {
    background-image: url("images/Gradient.png");
    background-repeat: no-repeat;
    background-position: 56px -56px;
    padding: 9px 113px 221px 113px;
}

.page-footer__social {
    font-family: Cormorant Infant;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-transform: uppercase;
    text-align: center;
}

.page-footer__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

.page-footer__link {
    width: 50px;
}

.page-footer__item {
    width: 50px;
}

.page-footer__img {
    fill: black;
    width: 50px;
}

.page-footer__img:focus,
.page-footer__img:active,
.page-footer__img:hover {
    fill: #D62E1D;
}